@{
    ViewData["Title"] = "Home Page";
}
@model User
<div class="text-center">
    <h1 class="display-4">Register to this Cool Site!</h1>
    <a href="/login">Login</a>
    <br />
    <br />

    <form action="/register-process" method="post">
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" type="text">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" type="text">
            <span asp-validation-for="LastName"></span>
        </div>
        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" type="text">
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="text">
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="Confirm"></label>
            <input asp-for="Confirm" type="text">
            <span asp-validation-for="Confirm"></span>
        </div>
        <button type="submit">Submit</button>
    </form>

    @foreach (var dish in ViewBag.Users)
    {
        @* <a href="detail/@dish.DishId"> *@
            <li>@dish.FirstName @dish.LastName</li>
        @* </a> *@
    }



</div>
